body{
	margin: 0;
	padding: 0;
	background-color:#322219;
}

.wrapper{
	width: 1000px;
	height: 2000px;
	margin: auto;
	position: relative;
}

.header{
	height: 130px;
	width: 100%;
	background-color: #1c0f08;

}

.logo{
	width: 28%;
	height: 130px;

	display: inline-block;
	position: absolute;
}

.logo img{
	position: relative;
	top: 24px;
	left: 36px;
}

.logo a{
	color: white;
	text-decoration: none;
	font-size: 26px;
	position: relative;
	left: 46px;
	top: -8px;
}

.logo a:hover{

	text-decoration: underline;
}


.logo p{
	color: #614d41;
	font-size: 18px;
	padding: 3px 0 0;
	position: relative;
	top: 24px;
	left: 35px;
}


.menu{
	width: 72%;
	height: 130px;
	display: inline-block;
	position: absolute;
	left: 281px;
}

.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

.menu li{
	display: inline;


}

.menu a{
	display: inline-block;
	height: 100px;
	width: 177px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	margin-left: -1px;
	text-align: center;
	line-height: 86px;
	border-left: 1px solid #322219;
	color: #fff;
	font-weight: 800;
	font-size: 19px;
	font-family: Raleway, sans-serif;
}

.menu a:hover{
	background-color: #150a05;
}

.slider{
	width: 1000px;
	background-color: #fff;
	height: 380px;
	position: relative;
}
.image{
	display: inline-block;
}
.information{
	height: 380px;
	width: 382px;
	display: inline-block;
	position: absolute;
}

abbr{
	cursor: help;
	 color: #ccc;
    font: normal bold 10px/21px 'Raleway',sans-serif;
    padding-top: 11px;
    text-transform: uppercase;
}

.infoWrapper{
	position: relative;
    height: 339px;
    width: 300px;
    margin: auto;
    top: 28px;
}

.infoWrapper a:nth-child(3) {

	text-decoration: none;
	color:#000;
	font: normal normal 21px/25px 'Raleway',sans-serif;

}

.infoWrapper a:hover {

text-decoration: underline;
}

.readMore {

	border-bottom: 1px dotted #ccc;
    font: normal bold 10px/15px 'Raleway',Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color:#d55c17;

}

.content{
	width: 1000px;
	height:400px;

	background-color:#f8f8f8;
}

.frame{
	display: inline-block;
    width: 200px;
    height: 303px;
    margin-left: 37px;
    margin-top: 40px;
}